params {
    // Input parameters
    fastq_dir = null
    ref_fasta = "${projectDir}/references/GRCh38.fasta" 
    ref_fai = "${projectDir}/references/GRCh38.fasta.fai"
    ref_dict = "${projectDir}/references/GRCh38.dict"
    ref_bwa_indices = "${projectDir}/references/bwa_index"
    twist_bed = null
    backbone_bed = "${projectDir}/bed/Twist_Exome2.0_plus_Comprehensive_Exome_Spikein_targets_covered_annotated_hg38.bed"
    pon_tar = null // Panel of Normals for GATK gCNV
    eh_catalog = "${projectDir}/bed/variant_catalog_grch38.json"
    gcnv_model = null // Path to GCNV model for Case Mode (skips cohort training)
    interval_list = null

    // Switches
    skip_cnv = false

    // Outputs
    outdir = 'results' // Analysis directory (intermediate files)
    output_dir = null  // Output directory (portal files)
    sample_name = null // Sample name for tracking

    // Resource Defaults
    max_memory = '240.GB'
    max_cpus = 120
    max_time = '24.h'
}

// Enable performance monitoring
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/trace.txt"
    fields = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,cpus,memory'
}
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/report.html"
}

process {
    withLabel: "bwa" {
        container = "quay.io/biocontainers/bwa:0.7.17--hed695b0_7"
        cpus = 16
        memory = "32.GB"
    }
    withLabel: "samtools" {
        container = "quay.io/biocontainers/samtools:1.16.1--h6899075_1"
        cpus = 8
        memory = "16.GB"
    }
    withLabel: 'gatk' {
        container = 'broadinstitute/gatk:4.4.0.0'
        cpus = 4
        memory = '16.GB'
    }
    withLabel: 'manta' {
        container = 'quay.io/biocontainers/manta:1.6.0--h9ee0642_1'
        cpus = 8
        memory = '8.GB'
    }
    withName: 'ALIGN_AND_SORT' {
        cpus = 16
        memory = '32.GB'
    }
    withLabel: 'paraphase' {
        container = 'quay.io/biocontainers/paraphase:3.1.0--pyhdfd78af_0'
        memory = '16.GB'
    }
    withLabel: 'smaca' {
        container = 'quay.io/biocontainers/smaca:1.2.3--py311hc1104ee_6'
        memory = '8.GB'
    }
    withLabel: 'expansionhunter' {
        container = 'quay.io/biocontainers/expansionhunter:5.0.0--hc26b3af_5'
        stageInMode = 'copy'
        memory = '8.GB'
    }
    withLabel: 'python' {
        container = 'python:3.9-slim'
    }
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g) --platform linux/amd64'
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}
